<!-- [hidden]="!productList && !productList.length"  -->

<div class="main-container">
    <div class="bread-section">
        <bread-crumb></bread-crumb>
    </div>
    <div   class="main-section row">
        <div class="filter-section col-md-2">
            <filters></filters>
        </div>
        <div class="product-section col-sm-12 col-md-10">
            <div class="sort-section">
                <sort></sort>
            </div>
            <div class="responsive-filters">
                <h5 class="responsive-filters-heading">{{gender}} Clothing ({{productsCount}})</h5>
                <div class="responsive-content">
                    <div (click)="toggleMobileSort($event)" class="responsive-content-sort">
                        SORT
                        <img src="../../../assets/img/sort.svg">
                        
                        <div  id="mobile-sort-menu" class="sort-menu">
                            <ul class="sort-menu-list" *ngIf="mobileSortList">
                                <li class="sort-menu-list-item" (click)="updateSort(item)" *ngFor="let item of mobileSortList">
                                    {{item.viewValue}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div (click)="toggleMobileFilter($event)" class="responsive-content-filter">
                        Filter
                        <img src="../../../assets/img/filter.svg">
                    </div>
                  
                </div>
            
            </div>
            <div class="product-content">
                <products></products>
            </div>
        </div>
    </div>
    
</div>

<!-- <div [hidden]="productList && productList.length " style="display: flex;justify-content: center;align-items: center;height: 100vh;font-weight: 700;font-size:2rem" >
    No Products Found !!!
</div> -->

<div id="mobile-filter-menu" class="mobile-filter-menu">
    <filters *ngIf="filterOpen"></filters>
</div>