
.main-container{
    padding: 1rem;
    //background-color: #fcfcfc;
    .filter-section{
        padding-right: 0;
    }
    .product-section{
        padding-left: 0;
        position: static;
    }
}

.responsive-filters{
    display: none;
    margin-left: 4px;
    &-heading{
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 30px;
        text-align: center;
        text-transform: capitalize;
    }
    .responsive-content{
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 3px 0;
        position: relative;
        &-sort,&-filter{
            width: 50%;
            text-align: center;
            padding:1rem;
            font-weight: 500;
            text-transform: uppercase;
            img{
                position: absolute;
                left: 3%;
                top: 35%;   
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .sort-menu{
            position: absolute;
            display: none;
            top: 101%;
            left: 0;
            width: 100%;
            background-color:#fff ;
            &-list{
                list-style: none;
                &-item{
                    text-align: left;
                    padding:1rem;
                }
            }

        }
        &-filter{
                border-left: 1px solid #787878;
                img{
                    left:53%
                }
            }
    }
}


.mobile-filter-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.bread-section{
    display: block;
}


@media screen and (max-width: 768px) {
    .filter-section{
        display: none;
    }
    .sort-section{
        display: none;
    }
    .responsive-filters{
        display: block;
    }
    .bread-section{
        display: none;
    }
  } 
