.offer{

    img{
        width: 100%;
        height: 100%;
    }

}
.poster-content{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    height: 90vh;
    div{
        width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            
        }
    }
}
.women-image-frame,.men-image-frame{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        flex-direction: row;
        width: 100%;
        div{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}

.new-arrivals{
    img{
        width: 280px;
        height: 405px;
    }
    .swiper-slide{
        display: flex;
        justify-content: space-evenly;
        background-color: #f1f5f6;
    }
    .product-card__container{
        padding-left: .5rem;
        padding-right: .5rem;
        vertical-align: top;

        .product-card{
            position: relative;
        }

        .product-card__info{
            font-size: 1rem;
            text-align: center;
            margin-top: 2rem;
            h4{
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: .05em;
            }

        }

        .product-card__price{
            display: block;
            font-weight: 600;
            padding-top: 1rem;
            letter-spacing: .05em;
        }
    }

}

.carousel-item {margin-right: auto !important;}

.slider-corousal{
    padding: 0 4rem;
}
@media screen and (max-width: 768px) {
    .women-image-frame,.men-image-frame{
        padding:1rem 0 0;
    }
    .poster-content{
        padding:1rem 0;
        height: 40vh;
    }
}
