
<div class="address-container">
    <div class="address-content">
        <div class="address-heading">
            <span>SELECT DELIVERY ADDRESS</span>
            <span><button>+Add address</button></span>
        </div>
        <ul class="address-container">
            <li class="address-item">
                <div>
                    <input type="radio">
                </div>
                <div>
                    <div class="address-item-username">
                        Paras Dawar
                    </div>
                    <div class="address-item-address">
                        13/182 Geeta Colony, near 13 block gurudwara
                    </div>
                    <div class="address-item-city">
                        East Delhi 110031,
                    </div>
                    <div class="address-item-state">
                        Delhi, India
                    </div>
                    <div class="product-content-mobile">
                       Mobile: <span>8800387824 </span>
                    </div>
                </div>
              

            </li>
            <li class="address-item">
                <div>
                    <input type="radio">
                </div>
                <div>
                    <div class="address-item-username">
                        Paras Dawar
                    </div>
                    <div class="address-item-address">
                        13/182 Geeta Colony, near 13 block gurudwara
                    </div>
                    <div class="address-item-city">
                        East Delhi 110031,
                    </div>
                    <div class="address-item-state">
                        Delhi, India
                    </div>
                    <div class="product-content-mobile">
                       Mobile: <span>8800387824 </span>
                    </div>
                </div>
              

            </li>
          
        </ul>
    </div>
</div>