header{
    box-shadow: 0 0 12px 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width:100%;
}

.header-content{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 2rem 0 1rem;
    align-items: center;

    .main-nav{
        display: flex;
    }

    .right-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-logo{
        font-size: 1.7rem;
        margin-left: 1.5rem;
    }

    .header-navbar{
        display: flex;
        font-size: 1.2rem !important;
        padding: 0;
        margin-left: 4%;
        height: 80px;
        line-height: 80px;

        &-links {
           display: flex;
        }
        .header-nav-content{
            text-align: center;
            .header-link{
                &:hover{
                    .dropdown-backdrop{
                        display: block;
                    }
                }
                a{
                    font-weight: 500;             
                    padding: 0 1rem 26px 1rem;
                    text-align: center;
                    text-decoration: none;
                    letter-spacing: .3px;
                    color: #282c3f;
                }
                .link_men:hover{
                    border-bottom: 2px solid red;
                }
            }
        }

    }

    

    .header-search{
        margin-left: 4%;
       display: flex;
        padding: 0.5rem 0;
        
        .header-search-input{
            font-size: 14px;
            height: 20px;
            line-height: 24px;
            width: 20rem;
            color: #696e79;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            padding: 8px 10px 10px;
            margin: 0;
            outline: 0;
            border: 1px solid #f5f5f6;
            border-radius: 0 4px 4px 0;
            border-left: 0;
            background: #f5f5f6;
        }
    }

    .header-actions{
        padding: 0 5px;
        display: flex;
        margin-left: 2%;
        img{
            width: 1.4rem;
            height: 1.4rem;
        }
        span{
            font-size: 0.8rem;
            font-weight: 500;
            display: block;
        }
        a{
            margin-left:15px;
        }
    }


}




.dropdown-backdrop{
    display: none;
    position: absolute;
    top: 80px;
    height: 100vh;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 0;
    pointer-events: none;
    .dropdown-content{
        margin:0 16%;
        width: 68%;
        background-color: #fff;
        pointer-events: visible;
  
        .category-content{
            padding: 10px 0;
            margin-right: 0px;
            .even-column-content{
                background-color: #f5f5f666;
            }
        }
        .category-list{
            display: flex;
            flex-direction: column;
            text-align: left;
            font-size: 0.95rem;
            line-height: 1.45rem;
            span{
                color: red;
                padding-left: 25px;
            }
            ul{
                list-style: none;
                padding-left: 25px;
            }
          
        }
    }
}



.responsive-nav{
    flex-direction: row;
    align-items: center;
    display: none;
    &-icon{
        img{
            width: 2rem;
            height: 2rem;
        }
    }
}
.header-search-icon{
    display: none;
}



.hamburger-menu-backdrop{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 2;
    .hamburger-menu-content{
            width: 250px;
            height: 100%;
            background-color: #fff;
            pointer-events: visible;
            overflow-y: scroll;
            &-main{
                padding: 1.5rem 1.5rem 0;
            }
            &-heading{
                font-weight: 700;
                margin-bottom: 0.5rem;
            }
            &-login{
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #757575;
                margin-bottom: 1rem;
                
                a{
                    font-size: 1.1rem;
                    font-weight: 500;
                }
                span{
                    padding:0 1rem;
                }
            }
            &-details{
                border-top: 1px solid #a1a4a4;
                padding: 1.5rem;
                &-heading{
                    color: #858585;
                }
                &-list{
                    list-style: none;
                    &-item{
                        line-height: 35px;
                        font-weight: 700;
                    }
                }

             
            }
    }
}


@media screen and (max-width: 991px) {
    .responsive-nav{
        display: flex;
    }
    .main-nav{
        display: none !important;
    }
    .header-search-input{
        display: none;
    }
    .header-search-icon{
        display: block;
    }
    header{
        position: unset;
    }
    .user-profile-icon{
        display: none;
    }
    #toggler:checked + .hamburger-menu-backdrop{
        display: block !important;
    }
  } 

