
.order-container{
    padding: 4rem 1rem;
    width: 100%;

    .order-content{
        padding:0.5rem 1rem;
        background-color: #f8f8f8;
        width: 100%;
        font-size: 0.9rem;
        border: 1px solid #f1f1f1;
        &-heading{
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        &-mrp,&-discount,&-shipping,&-payable{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0.7rem;
            color: #787878;
        }
        &-payable{
            color:#585858;
            font-weight: 500;
        }
        &-final{
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1rem 0;
        }
        &-saving{
            font-size: 0.8rem;
            color: #6fba31;
            font-weight: 500;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid #e1e1e1;
        }

        &-button{
            
            .button{
            width: 100%;
            padding:0.5rem;
            font-weight: 500;
            font-size: 1.2rem;
            background-color: #000;
    
            color: #fff;
            border: none;
            margin: 1rem 0;
            }

            .button:hover{
                background-color: #282828;
            }
        }
    
    }
}

.green{
    color:#6fba31;
}

.order-success{
    &-content,&-address,&-mode{
        margin-bottom: 1.5rem;
        &-heading{
            font-weight: 500;
            color: #a1a4a4;
        }
    }
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bold{
        font-weight: 700;
    }
}



@media screen and (min-width: 769px) and (max-width: 1080px) {

    .order-container{
        padding: 4rem 0;
    }
    .order-content{
        padding:0.5rem;
    }
}
