<div style="position: relative;">
    <div class="header-logo">
        <a (click)="goBack()" id="back-button-link" class="back-button-link">
            <img src="../../assets/img/back.svg">
        </a>
        <img style="height: 5rem;width :7.5rem" src="../../assets/img/palikaBazaar.png">
    </div>
    <div *ngIf="cartProducts" class="container cart-container">
        <div [hidden]="!cartProducts.length" class="row">
            <div style="position: static;" class="col-sm-12 col-md-8  ">
                <!-- <app-bag></app-bag> -->
                <!-- <app-address></app-address> -->
                <router-outlet></router-outlet>
            </div>
            <div class=" col-sm-12 col-md-4 order-container">
                <order-summary></order-summary>
            </div>
        </div>
        <div [hidden]="cartProducts.length" class="empty-cart-container">

            <div class="empty-cart-box">
                <div class="empty-cart-box-icon">
                    <img src="../../assets/img/empty-box.svg">
                </div>
                <div class="empty-cart-box-detail">
                    <h4>Nothing in the Bag</h4>
                </div>
                <div class="empty-cart-box-button">
                    <button [routerLink]="'/products'">Continue Shopping</button>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-payment-info">
        <div class="footer-payment-content">
            <ul>
                <li><a><img src="../../assets/img/mastercard.svg"></a></li>
                <li><a><img src="../../assets/img/visa.svg"></a></li>
                <li><a><img src="../../assets/img/paypal.svg"></a></li>
                <li><a><img src="../../assets/img/paytm.svg"></a></li>
            </ul>
        </div>
        <div class="footer-payment-copyright">
            <span> &copy;2020 Dawar Ltd. All rights reserved.</span>
        </div>
    </div>
</div>


