.header-logo{
    font-size: 2.5rem;
    display: flex;
    padding: 0.5rem 2rem;
    background-color: #f8f8f8;
}

.footer-payment-info{
    background-color: #f8f8f8;
    padding:1rem 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .footer-payment-content{
  
        ul{
            list-style: none;
            display: flex;
            li{
                padding-right: 0.8em;
                img{
                    width: 5rem;
                    height: 3rem;
                }
            }
        }
    }
    .footer-payment-copyright{
        color:#696b79; 
    }
}
.cart-container{
    margin: 0 auto;
    max-width: unset;
    width: 75%;
    .order-container{
        border-left: 1px solid #f1f1f1;
       
    }
}


.empty-cart-container{
 
    height: 80vh;
    .empty-cart-box{
        width:30%;   
       display: flex;
       margin:auto;
       padding: 7rem 0;
       flex-direction: column;
       justify-content: space-around;
       text-align: center;
        &-icon{
            margin-bottom: 1.5rem;
            img{
                height: 8rem;
                width: 8rem;
            }
        }
        &-button{
            margin-top: 0.5rem;
            button{
                background: orange;
                cursor:pointer;
                color: #fff;
                border: 1px solid ;
                border-radius:3px ;
                font-size:1.2rem ;
                font-weight: 500;
                padding: 0.5rem;
                width: 63%;
            }
        }
        &-detail{
            font-size:1.2rem;
            color: orange;
        }
        
    }
}