.product-detail-container{
    max-width: 100%;
}

.ngx-gallery { 
    display: inline-block;
     margin-bottom: 20px;
     width: 80% !important;
     height: 35rem !important;
     margin: 0 auto;
 }


.product-detail{
    &_image{
        display: flex;
        flex-direction: row;
       &_big_container{
        img{
            width: 31rem;
            height: 38rem;
        }
       }
       &_small_container{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 3rem;
        &__others{
            img{
                width: 7.4rem;
                height: 8.75px;
            }
        }
    }
    }

    &_content{
        font-size: 1rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        &_brand{
            font-size: 1.5rem;
            font-weight: 700;
        }
        &_desc{
            font-size: 1.3rem;
            color: #a1a4a4;
        }
        &_price_details{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            font-size: 1.3rem;
            margin-top: 1.5rem;
            &_price{
                font-weight: 500;
                font-size: 1.5rem;
                margin-right: 0.7rem;
            }
            &_oldPrice{
                color: #a1a4a4;
                text-decoration:line-through;
                margin-right: 0.7rem;
            }
            &_discount{
                color: rgb(255, 75, 114);
            }

        }
        &_tax{
            font-size: 0.9rem;
            color: green;
            margin-bottom: 1.5rem;
            font-weight: 500;
        }
        &_sizeHeading{
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 1.3rem;
        }
        &_sizeButton{
            button{
                border: 1px solid #a1a4a4;
                border-radius: 3.1rem;
                padding: 0;
                min-width: 3.1rem;
                height: 3.1rem;
                background-color: #fff;
                text-align: center;
                cursor: pointer;
                color: #282c3f;
                margin-right: 0.7rem;
                p{
                    margin:0;
                }
                &:hover{
                    border: 1px solid #1a1a1a;
                    color: #1a1a1a;
                }
                
            }
        }
        &_sizeQuote{
            margin: 0.6rem 0;
            font-size: 0.9rem;
            font-weight: 500;
            span{
                font-weight: 100;
                color: #000;
        
            }
        }

        &_addToBag{
            &_button{
                background-color:rgb(255, 75, 114);
                border-radius: 3px;
                padding: 0.5rem 1rem;
                border: 0;
               
                cursor: pointer;

                &:hover{
                    background-color: #f16565;
                }

                &_content{
                    margin-left: 0.5rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #fff;
                    display: flex;;
                    justify-content: center;
                }
                img{
                    width: 1rem;
                    height: 1rem;
                    vertical-align: unset;
                }
            }
            
        }

        &_modelSize{
            margin:0.5rem 0;
            &_heading{
                font-weight: 500;
            }
            
        }

        &_details{
            margin-top: 2.5rem;
            font-size: 0.9rem;
            padding:1rem 0;
            border: 1px solid #a1a4a4;
            border-right: none;
            border-left: none;
        }

    }
}



.main-container{
    padding: 1rem;
    background-color: #fcfcfc;

}


.selectedButton{
    background-color: #282c3f !important;
    color: #fff !important;
}

.sizeError{
    color: red;
}

@media screen and (max-width: 768px) {
    .product-detail_content_addToBag_button{
        width: 100%;
    }
  } 
