<div class="bread-crumb" >
    <ul class="bread-crumb__content">
        <li class="bread-crumb__content__listItem">
            <a class="bread-crumb__content__listItem__link" routerLink="/" >Home</a>
        </li>
        <li class="bread-crumb__content__listItem">
            <a class="bread-crumb__content__listItem__link">Products</a>
        </li>
    
        <li class="bread-crumb__content__listItem">
            <a class="bread-crumb__content__listItem__link">Men</a>
        </li>
        <span>Shirts</span>
    </ul>
</div>
