<div class="bread-crumb" >
    <ul class="bread-crumb__content">
        <li class="bread-crumb__content__listItem">
            <a class="bread-crumb__content__listItem__link" routerLink="/" >Home</a>
        </li>
        <li class="bread-crumb__content__listItem">
            <a class="bread-crumb__content__listItem__link" [routerLink]="'/products'" >Products</a>
        </li>
    
        <li *ngIf="gender" class="bread-crumb__content__listItem">
            <a class="bread-crumb__content__listItem__link" [routerLink]="'/products'" [queryParams]="{gender:gender}">{{gender}}</a>
        </li>
    </ul>
</div>
