<div class="signUp-container">
    <div class="signUp-content">
        <h4>Log In</h4>

        <form class="signUp-content-form" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

            <label> Email: </label>
            <input required [pattern]="emailRegex" type="text"  #email="ngModel" [(ngModel)]="model.email" name="email" placeholder="Email">
            <div class="error_element" *ngIf="signInForm.submitted &&  !email.valid">
                <label *ngIf="email.errors?.required" class="validation-message"> This field is required.</label>
                <label *ngIf="email.errors?.pattern"  class="validation-message"> Invalid email address.</label>
            </div>
            <label> Password: </label>
            <input required type="password" [minlength]="6"  #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Password">
            <div class="error_element" *ngIf="signInForm.submitted &&  !password.valid">
                <label *ngIf="password.errors?.required" class="validation-message">This field is required.</label>
                <label *ngIf="password.errors?.minlength"  class="validation-message">Enter atleast 6 characters.</label>
            </div>
            <input type="submit" value="Login"> 
        </form>

        <div class="already-account-content">
            <span>Don't have an account?</span>   
            <button  [routerLink]="'/account/signup'" >Sign Up</button>
        </div>
        <div class="server-error-messages" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </div>
   
    
</div>