<!-- <div style="position: relative;"> -->
    <!-- <div class="header-logo">
        <img style="height: 5rem;width :7.5rem" src="../../assets/img/palikaBazaar.png">
    </div> -->
    <div class="container cart-container">
        <div class="row">


            <div class="col-sm-12 col-md-8 success-container">
                <img src="../../../assets/img/tick.svg">
                <div class="success-content">
                    <h5 class="success-content-heading">
                        Order Successfully Placed!
                    </h5>
                    <div class="success-content-text">
                        Order No. 7893848444.
                    </div>
                    <div class="success-content-text">
                        A confirmation has been sent to <span
                            class="success-content-text-bold">parasdawar96@gmail.com</span>
                    </div>

                    <div class="success-content-text">
                        Your order is currently being processed.
                        As the products in your order are shipped,
                        you will receive an email stating
                        the expected delivery date for your shipments.
                    </div>
                </div>


            </div>
            <div class=" col-sm-12 col-md-4 order-container">
                <div class="order-success">

                    <div class="order-success-content">
                        <h5 class="order-success-content-heading">ORDER SUMMARY</h5>
                        <div class="order-success-content-details">
                            <div>
                                3 items
                            </div>
                            <div class="bold">
                                Rs 899
                            </div>
                        </div>
                    </div>
                    <div class="order-success-address">
                        <h5 class="order-success-address-heading">ORDER TO:</h5>
                        <div>
                            Paras Dawar
                            13/182, Geeta Colony,
                            Delhi-110031, India.
                            Mobile: 8800387824.
                        </div>

                    </div>
                    <div class="order-success-mode">
                        <h5 class="order-success-mode-heading">
                            PAYMENT MODE
                        </h5>
                        <div>
                            Cash on Delivery.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="footer-payment-info">
        <div class="footer-payment-content">
            <ul>
                <li><a><img src="../../assets/img/mastercard.svg"></a></li>
                <li><a><img src="../../assets/img/visa.svg"></a></li>
                <li><a><img src="../../assets/img/paypal.svg"></a></li>
                <li><a><img src="../../assets/img/paytm.svg"></a></li>
            </ul>
        </div>
        <div class="footer-payment-copyright">
            <span> &copy;2020 Dawar Ltd. All rights reserved.</span>
        </div>
    </div> -->
<!-- </div> -->