<footer>
    <!-- <div class="about-text">
        <h1>PALIKA BAZAAR: CLOTHING HUB</h1>
        <div>
            
        </div>
        <div>
            
        </div>
       
    </div> -->

    <!-- <div class="newsletter">
        <div class="newsletter-content">
            <div>
                <h2 class="newsletter-content__Heading">Stay up to date</h2>
            </div>
            <div>
                <h3 class="newsletter-content__subHeading">
                    Get inspiration, new arrivals and the latest offers to your inbox.
                </h3>
            </div>

            <form action="/action_page.php" method="get">
                <input type="email" placeholder="Enter your email address...">
                <button type="submit"><img src="../../assets/img/enter.svg"></button>
            </form>
        </div>
    </div> -->

    <div class="footer-social">
        <div class="footer-social__content">
            <div class="footer-social__content__column">
                <span class="footer-social__content__heading">Online shopping </span>
                <ul>
                    <li>Men</li>
                    <li>Women</li>
                    <li>Kids</li>
                    <li>Brands</li>


                </ul>
            </div>
            <div class="footer-social__content__column">
                <span class="footer-social__content__heading">Let us help you </span>
                <ul>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Track Orders</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="footer-social__content__column">
                <span class="footer-social__content__heading">Policy Info </span>
                <ul>
                    <li>Terms and Conditions</li>
                    <li>Returns Policy</li>
                    <li>Shipping & Delivery</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>


            <div class="footer-social__content__column icons">
                <div>
                    <span class="footer-social__content__heading">Stay up to date</span>
                    <form action="" method="get">
                        <input type="email" placeholder="Enter your email address...">
                        <input type="submit">
                        <img src="">
                    </form>

                </div>

                <div>
                    <span class="footer-social__content__heading">Connect With Us</span>
                    <ul>
                        <li><a><img src="../../assets/img/facebook.svg"></a></li>
                        <li><a><img src="../../assets/img/twitter.svg"></a></li>
                        <li><a><img src="../../assets/img/instagram.svg"></a></li>
                        <li><a><img src="../../assets/img/pinterest.svg"></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="footer-payment-info">
            <div class="footer-payment-content">
                <span class="footer-social__content__heading">Payment methods</span>
                <ul>
                    <li><a><img src="../../assets/img/mastercard.svg"></a></li>
                    <li><a><img src="../../assets/img/visa.svg"></a></li>
                    <li><a><img src="../../assets/img/paypal.svg"></a></li>
                    <li><a><img src="../../assets/img/paytm.svg"></a></li>
                </ul>
            </div>
            <div class="footer-payment-copyright">
                <span> &copy;2020 Dawar Ltd. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>