.about-text{
    text-align: center;
    padding: 3.5rem 7rem;
    background-color: #f8f8f8;
}

.newsletter{
    background: #f6f6f6;
    padding: 3.5rem 7rem;

    &-content{
        align-content: center;
        &__Heading{
            font-size: 1.75rem;
            text-align: center;
            text-transform: uppercase;
        }
        &__subHeading{
            color: #585858;
            font-weight: 400;
            font-size: 1.25rem;
            text-align: center;
        }
    }

  form{
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    }


  

    button{
        padding: 5px;
        width: 100px;
        height: 38px;
        img{
            width: 22px;
            height: 22px;
        }
    }
    input{
        width: 75%;
        padding: 5px;
    }
}




.footer-social{
    background-color: #f3f3f3;
    &__content{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 0 3.5rem;
        padding: 3.5rem 0;
        border-bottom: 1px solid;

        &__column{
            font-size: 1rem;

            .footer-social__content__heading{
                text-transform: uppercase;
                font-weight: 500;
                padding-bottom: 0.8rem;
                display: block;
            }
            ul{
                text-decoration: none;
                list-style: none; 
                color:#696b79; 
                li{
                    padding-bottom: 0.4rem;
                }   
            }

            
        }

        .icons{
            display: flex;
            flex-direction: column;
            div{
                span{
                    margin:0 0 0.3rem;
                    padding: 0;
                }
                form{
                    height: 2.5rem;
                    input{
                        height: 100%;
                        padding: 0.3rem;
                    }
                    input[type=submit]{
                        position: relative;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                ul{
                    display: flex;
                    li{
                        padding-bottom: none;
                        padding-right: 0.8rem;
                    }        
                    img{
                        width: 1.45rem;
                        height: 1.45rem;
                    }
                }
            }
            div:first-child{
                margin-bottom: 1rem;
            }
            div:last-child{
              
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
           
        }

        
    }
    .footer-payment-info{
        padding: 2rem 0;
        margin: 0 3.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .footer-payment-content{
            .footer-social__content__heading{
                text-transform: uppercase;
                font-weight: 500;
                padding-bottom: 0.8rem;
                display: block;
            }
            ul{
                list-style: none;
                display: flex;
                li{
                    padding-right: 0.8em;
                    img{
                        width: 5rem;
                        height: 3rem;
                    }
                }
            }
        }
        .footer-payment-copyright{
            color:#696b79; 
        }
    }
}




@media screen and (max-width: 991px) {
    .footer-social{
        &__content{
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            &__column{
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding: 0.5rem 0;
            }
            &__column:last-child{
                border: 0;
            }
        }
    }
    .icons{
        div{
            ul{
                justify-content: start !important;
            }
        }
    }
  } 