<footer>
    <div class="about-text">
        <h1>PALIKA BAZAAR: CLOTHING HUB</h1>
        <div>
            Discover a show-stopping collection of designer clothing, accessories, and footwear here at Garment Quarter
            - your one-stop shop for all things fashion-forward. We've got a huge range of cutting-edge designers for
            both men and women, so you're sure to find what you're looking for. Our collections include the freshest new
            pieces from some of the world's best designers; such as our Vivienne Westwood
            mens collection, Versace, and Moschino, as well as contemporary luxury brands like Balmain, Giuseppe Zanotti
            and Off-White.
        </div>
        <div>
            Discover a show-stopping collection of designer clothing, accessories, and footwear here at Garment Quarter
            - your one-stop shop for all things fashion-forward. We've got a huge range of cutting-edge designers for
            both men and women, so you're sure to find what you're looking for. Our collections include the freshest new
            pieces from some of the world's best designers; such as our Vivienne Westwood
            mens collection, Versace, and Moschino, as well as contemporary luxury brands like Balmain, Giuseppe Zanotti
            and Off-White.
        </div>
        <div>
            Discover a show-stopping collection of designer clothing, accessories, and footwear here at Garment Quarter
            - your one-stop shop for all things fashion-forward. We've got a huge range of cutting-edge designers for
            both men and women, so you're sure to find what you're looking for. Our collections include the freshest new
            pieces from some of the world's best designers; such as our Vivienne Westwood
            mens collection, Versace, and Moschino, as well as contemporary luxury brands like Balmain, Giuseppe Zanotti
            and Off-White.
        </div>
        <div>
            Discover a show-stopping collection of designer clothing, accessories, and footwear here at Garment Quarter
            - your one-stop shop for all things fashion-forward. We've got a huge range of cutting-edge designers for
            both men and women, so you're sure to find what you're looking for. Our collections include the freshest new
            pieces from some of the world's best designers; such as our Vivienne Westwood
            mens collection, Versace, and Moschino, as well as contemporary luxury brands like Balmain, Giuseppe Zanotti
            and Off-White.
        </div>
    </div>

    <div class="newsletter">
        <div class="newsletter-content">
            <div>
                <h2 class="newsletter-content__Heading">Stay up to date</h2>
            </div>
            <div>
                <h3 class="newsletter-content__subHeading">
                    Get inspiration, new arrivals and the latest offers to your inbox.
                </h3>
            </div>

            <form action="/action_page.php" method="get">
                <input type="email" placeholder="Enter your email address...">
                <button type="submit"><img src="../../assets/img/enter.svg"></button>
            </form>
        </div>
    </div>

    <div class="footer-social">
        <div class="footer-social__content">
            <div class="footer-social__content__column">
                <span class="footer-social__content__heading">GET TO KNOW US </span>
                <ul>
                    <li>Who We Are</li>
                    <li>Careers</li>
                    <li>Press Releases</li>
                    <li>PB cares</li>
                    <li>Gift a Smile</li>
             
                </ul>
            </div>
            <div class="footer-social__content__column">
                <span class="footer-social__content__heading">Let us help you </span>
                <ul>
                    <li>Contact Us</li>
                    <li>Track Order</li>
                    <li>Returns Policy</li>
                    <li>Shipping Information</li>
                    <li>FAQs</li>
                    <li>Terms and Conditions</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="footer-social__content__column">
                <span class="footer-social__content__heading">Online shopping </span>
                <ul>
                    <li>Men</li>
                    <li>Women</li>
                    <li>Kids</li>
                    <li>Brands</li>
                    <li>Home & Living</li>
                    <li>Sale</li>
                </ul>
            </div>
            <div class="footer-social__content__column icons">
                <span class="footer-social__content__heading">Connect With Us</span>
                <ul>
                    <li><a><img src="../../assets/img/facebook.svg"></a></li>
                    <li><a><img src="../../assets/img/twitter.svg"></a></li>
                    <li><a><img src="../../assets/img/instagram.svg"></a></li>
                    <li><a><img src="../../assets/img/pinterest.svg"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-payment-info">
            <div class="footer-payment-content">
                <span class="footer-social__content__heading">Payment methods</span>
                <ul>
                    <li><a><img src="../../assets/img/mastercard.svg"></a></li>                    
                    <li><a><img src="../../assets/img/visa.svg"></a></li>
                    <li><a><img src="../../assets/img/paypal.svg"></a></li>
                    <li><a><img src="../../assets/img/paytm.svg"></a></li>
                </ul>
            </div>
            <div class="footer-payment-copyright">
               <span> &copy;2020 Dawar Ltd. All rights reserved.</span> 
            </div>
        </div>
    </div>
</footer>